/*********************
* Header
**********************/

header {
    background: #000;
    padding: 20px 0;

    .navbar {
        @include flex(center, space-between);
        .sx {
            @include flex(center);

            img {
                width: 30px;
            }

            a {
                @include style_link;
                color: #fff;
                margin-left: 20px;
            }
        }

        .dx {

            input {
                padding: 5px 10px;
                border-radius: 8px;
                margin-right: 10px;
            }
        }

        

    }
    
}